"*":
  "atom-beautify":
    general:
      _analyticsUserId: "a8b9466f-ff4f-4fc8-b5a5-781455c054c3"
  core:
    disabledPackages: [
      "latex"
      "markdown-preview"
      "spell-check"
    ]
    packagesWithKeymapsDisabled: []
  editor:
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
  "exception-reporting":
    userId: "2b49ad9d-935e-3627-174d-1ffcacb1a2da"
  "keyboard-localization":
    useKeyboardLayout: "es_ES"
  latex: {}
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  welcome:
    showOnStartup: false
