packages: [
  "atom-beautify"
  "autocomplete-python"
  "git-time-machine"
  "hyperclick"
  "language-latex"
  "language-matlab"
  "latex"
  "latex-autocomplete"
  "markdown-pdf"
  "markdown-preview-plus"
  "markdown-writer"
  "minimap"
  "package-sync"
  "pdf-view"
  "python-isort"
  "script"
  "sort-lines"
]
