packages: [
  "atom-beautify"
  "atom-python-run"
  "autocomplete-python"
  "git-time-machine"
  "hyperclick"
  "latex"
  "markdown-pdf"
  "markdown-preview-plus"
  "markdown-writer"
  "minimap"
  "package-sync"
  "pdf-view"
  "python-isort"
]
